- scrape_button_value = 'Scrape Now'
- if @profile_user.nil?
    .container.notification.error
        %p Invalid Username or API Token

- else
    - usage = @profile_user.current_usage
    
    - if @profile_user != @session_user && !@profile_using_api_token
        .container.notification.message
            %p= "Bandwidth usage for #{@profile_user.display_name}"
    - elsif @profile_user == @session_user && @profile_standalone_layout
        .container.notification.message
            %p This is your bandwidth usage
    
    - if usage.nil?
        .container.notification.error
            %p
                No bandwidth usage data has been collected.
                %input#force_scrape{:type => :button, :value => "Scrape Now"}
    - else
        .container
            %h1
                Usage
                %span.capsule{:class => usage.bandwidth_class == 0 ? :c_green : :g_red}= usage.bandwidth_class_string.capitalize
            .content
                %label.primary
                    Policy
                    .label_appendage= "#{usage.policy_received_string} &#x25bc;<span style='color: #777;'>&#x25b2; #{usage.policy_sent_string}</span>"
                %label.secondary
                    Actual
                    .label_appendage= "#{usage.actual_received_string} &#x25bc;<span style='color: #777;'>&#x25b2; #{usage.actual_sent_string}</span>"
                #chart_container.primary
                    #chart_div
                        %table{:style => "width: 100%; height: 100%;"}
                            %tr
                                %td.loading{:valign => :middle}
                                    .spinner{ :style => 'height: 1.3em; width: 1.3em; margin-bottom: -0.4em;' }
                                        - (1..12).each do |i|
                                            %div{ :class => "bar#{i}" }
                                    Loading Chart Data...
                - if @profile_user == @session_user
                    %input#force_scrape{:type => :button, :value => scrape_button_value}
                    %span.form_appendage= "last updated #{usage.data_age}"
                - else
                    %label#chart_data_age.final= "updated #{usage.data_age}"
        %script{ :src => url('/js/chart.js'), :onload => "initChart('#{@profile_user.username}');" }
